{% if availableLayers %}
    {% for layer in availableLayers %}
        <button class="btn" name="addLayer" value="{{ layer.type }}|{{ position }}">
            {{ layer.name }}
        </button>
    {% endfor %}

    <button class="btn delete-layer" name="foo">
        {{ 'Delete this layer'|t('share-previews') }}
    </button>

{#    <div class="buttons">#}
{#        <div class="btngroup">#}
{#            {% for layer in availableLayers %}#}
{#                <button type="button" class="btn dashed{% if loop.first %} add icon{% endif %}" data-type="{{ layer.type }}">#}
{#                    {{ layer.name }}#}
{#                </button>#}
{#            {% endfor %}#}
{#        </div>#}

{#        <button type="button" class="btn dashed add icon menubtn">{{ 'Add a Layer'|t('share-previews') }}</button>#}
{#        <div class="menu">#}
{#            <ul>#}
{#                {% for layer in availableLayers %}#}
{#                    <li>/#}
{#                        <a data-type="{{ layer.type }}">#}
{#                            {{ layer.name }}#}
{#                        </a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{% endif %}