{% import '_includes/forms' as forms %}

<div class="border border-solid border-transparent hover:border-pink-600">
    <div>
        <a
            id="preview-anchor"
            class="relative block overflow-hidden bg-blue-gray-100"
            style="padding-top: {{ 100 / (template.width / template.height) }}%;"
            href="{{ template.toPreviewImage().getUrl() }}"
            target="_blank"
        >
            <img
                id="preview-image"
                class="absolute inset-0 block max-w-full w-full h-auto"
                src="{{ template.toPreviewImage().getUrl() }}"
            />
        </a>
    </div>
</div>

<div class="updating-message mt-2 text-gray-400 text-sm">
    <div>{{ 'Regenerating preview ...' }}</div>
    <div>
        <p class="flex flex-nowrap">
            <span class="flex-1">
                {{ 'Preview up to date.' }}
            </span>
            <span>
                <a id="refresh-preview-anchor" href="#">{{ 'Refresh?'|t('share-previews') }}</a>
            </span>
        </p>
    </div>
</div>

<div class="mt-8">
    {{ forms.field({
        label: 'Preview Entry'|t('share-previews'),
        instructions: 'Render the above preview based on the selected entry.

The selected entry affects only the preview of the template. Rendered images based on this template will not have any association with the selected entry.'|t('share-previews'),
    }, forms.elementSelect({
        name: 'template[previewEntryId]',
        elementType: 'craft\\elements\\Entry',
        elements: [template.previewEntry]|filter,
        limit: 1,
    })) }}
</div>