{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Settings'|t('app'), url: url('settings') },
    { label: 'Plugins'|t('app'), url: url('settings/plugins') },
    { label: 'Share Previews'|t('share-previews'), url: url('settings/plugins/share-previews') },
] %}

{% set fullPageForm = true %}
{% set saveShortcut = false %}

{% set title = 'Template Editor'|t('share-previews') %}
{% set docTitle = title ~ ' - ' ~ 'Plugins'|t('app') %}

{% block actionButton %}
    <div class="relative">
        <button type="submit" name="op" value="save" class="absolute left-0 top-0 invisible"></button>

        <button class="btn" name="op" value="cancel">
            {{ 'Cancel'|t('app') }}
        </button>

        {% if (template.exists()) %}
            <button class="btn ml-12" name="op" value="duplicate">
                {{ 'Save as New'|t('share-preview') }}
            </button>
        {% endif %}

        <button class="btn submit" type="submit" name="op" value="save">
            {{ template.exists() ? 'Save'|t('app') : 'Create new Template'|t('share-previews') }}
        </button>
    </div>
{% endblock %}

{% block content %}
    {{ actionInput('share-previews/template-editor/post') }}
    {{ redirectInput('settings/plugins/share-previews') }}

    {{ hiddenInput('template[id]', template.id) }}

    <div class="sp-template-editor">
        {{ hiddenInput('template[width]', template.width) }}
        {{ hiddenInput('template[height]', template.height) }}
        
        <h2 class="mb-8">
            {{ 'General Template Settings'|t('share-previews') }}
        </h2>

        <div class="pb-10 grid grid-cols-2 gap-x-8 border-b border-solid border-blue-gray-300">
            <div>
                {{ forms.field({
                    label: 'Name'|t('share-previews'),
                    instructions: 'The name of your template helps you to recognize it in template selection menus.'|t('share-previews'),
                }, forms.text({
                    name: 'template[name]',
                    value: template.name,
                    placeholder: 'Blog',
                })) }}

                <div class="sp-markdown">
                    {{ 'Most people have more than one active template. Use a name which corresponds to the entry types you want to use the template with.
Good starting points are `General`, `Blog` or `News`.'|t('share-previews')|md }}
                </div>
            </div>
            <div>
                {{ forms.field({
                    label: 'Default'|t('share-previews'),
                    instructions: 'Do you want this template to be the default one?
The default template is used when no other template was selected in your entries.'|t('share-previews'),
                }, forms.lightswitch({
                    name: 'template[isDefault]',
                    value: true,
                    on: template.isDefault,
                })) }}
            </div>
        </div>

        <div class="my-10 grid grid-cols-2 gap-x-8">
            <div>
                <h2 class="mb-8">
                    {{ 'Layers'|t('share-previews') }}
                </h2>
                <p>
                    {{ 'Your template consists of layers. Each layer is painted on the previous one. Layers give you the ability to compose your share previews step by step.'|t('share-previews') }}
                </p>
                <p>
                    {{ 'The layers will be rendered from bottom to top. If a layer does not appear in the preview, make sure it\'s not covered by a following layer. **Remember**: Rendering is from bottom to top.'|t('share-previews')|md }}
                </p>
                <p>
                    {{ 'If you\'re not sure how to start, add a **Color Layer** first.'|t('share-previews')|md }}
                </p>
                <div class="fields-pane">
                    {{ include('share-previews/template-editor/_fields') }}
                </div>
            </div>
            <div>
                <h2 class="mb-8">
                    {{ 'Live Preview'|t('share-previews') }}
                </h2>

                <p>
                    {{ 'The preview is rendered in real time and based on the layers you\'ve specified on the left side.'|t('share-previews') }}
                </p>

                <div class="preview-pane sticky top-16">
                    {{ include('share-previews/template-editor/_preview') }}
                </div>
            </div>
        </div>

        {% if (template.exists()) %}
            <div class="mt-20">
                <h2>{{ 'Danger Zone'|t('share-previews') }}</h2>

                <div class="flex flex-nowrap border border-solid border-pink-600 p-4 rounded">
                    <div class="flex-1">
                        <h3 class="m-0">
                            {{ 'Delete this Template'|t('share-previews') }}
                        </h3>
                        <p class="m-0 mt-2 text-gray-500 leading-tight">
                            {{ 'Once you delete a template, there is no going back. Please be certain.'|t('share-previews') }}
                        </p>
                    </div>
                    <div class="flex-none ml-8">
                        <button class="btn" name="op" value="delete">
                            {{ 'Delete this Template'|t('share-previews') }}
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% js %}
    window._alps = window._alps || {};
    window._alps.previewUrl = '{{ actionUrl('share-previews/template-editor/preview') }}';
    window._alps.actionUrl = '{{ actionUrl('share-previews/template-editor/post') }}';
    window._alps.deleteConfirmation = '{{ 'Are you sure you want to delete template "{name}"?'|t('share-previews')|raw }}';
    window._alps.templateName = '{{ template.getHumanFriendlyName() }}';
    window._alps.fontVariants = '{{ fontsService.getAvailableVariantsAsOptions()|json_encode|raw }}';
{% endjs %}