{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Settings'|t('app'), url: url('settings') },
    { label: 'Plugins'|t('app'), url: url('settings/plugins') },
    { label: 'Share Previews'|t('share-previews'), url: url('settings/plugins/share-previews') },
] %}

{% set fullPageForm = true %}


{% set title = 'Template Editor'|t('share-previews') %}
{% set docTitle = title ~ ' - ' ~ 'Plugins'|t('app') %}

{% block actionButton %}
{#    <div class="btngroup">#}
    <button class="btn" name="op" value="cancel">
        {{ 'Cancel'|t('app') }}
    </button>

    <button class="btn">
        {{ 'Refresh preview'|t('share-previews') }}
    </button>

    <button class="btn submit" type="submit" name="op" value="save">
        {{ 'Save'|t('app') }}
    </button>
{#    </div>#}
{% endblock %}

{% block foot %}
    {{ parent() }}

    <script>
        window._alps = window._alps || {};
        window._alps.previewUrl = '{{ actionUrl('share-previews/template-editor/preview') }}';
        window._alps.actionUrl = '{{ actionUrl('share-previews/template-editor/post') }}';
    </script>
{% endblock %}

{% block content %}
    {{ actionInput('share-previews/template-editor/post') }}
{#    {{ hiddenInput('pluginHandle', plugin.handle) }}#}
    {{ redirectInput('settings/plugins/share-previews') }}

    {{ hiddenInput('template[id]', template.id) }}

    <div class="sp-template-editor">
        <div class="flex items-stretch">
            <div class="flex-1 pr-8">
                <h2>{{ 'Layers'|t('share-previews') }}</h2>

                <div class="fields-pane">
                    {{ include('share-previews/template-editor/_fields') }}
                </div>
            </div>
            <div class="w-1/2 flex-none">
                <h2>{{ 'Live Preview'|t('share-previews') }}</h2>

                <div class="preview-pane sticky top-16">
                    {{ include('share-previews/template-editor/_preview') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
