{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Settings'|t('app'), url: url('settings') },
    { label: 'Plugins'|t('app'), url: url('settings/plugins') },
    { label: 'Share Previews'|t('share-previews'), url: url('settings/plugins/share-previews') },
] %}

{% set fullPageForm = true %}


{% set title = 'Template Editor'|t('share-previews') %}
{% set docTitle = title ~ ' - ' ~ 'Plugins'|t('app') %}

{% block actionButton %}
{#    <div class="btngroup">#}
    <button class="btn" name="cancel">
        {{ 'Cancel'|t('app') }}
    </button>

    <button class="btn">
        {{ 'Refresh preview'|t('share-previews') }}
    </button>

    <button class="btn submit" type="submit" name="save">
        {{ 'Save'|t('app') }}
    </button>
{#    </div>#}
{% endblock %}

{% block content %}
    {{ actionInput('share-previews/template-editor/post') }}
{#    {{ hiddenInput('pluginHandle', plugin.handle) }}#}
    {{ redirectInput('settings/plugins/share-previews') }}

    {{ hiddenInput('templateId', id) }}

    <div class="template-editor">
        <div class="flex items-start">
            <div class="w-1/2 flex-none">

                <div class="space-y-8">
                    {% for layerIdx, layer in template.layers|reverse(true) %}
                        {{ include('share-previews/template-editor/_add-layers', {
                            layers: availableLayers,
                            position: layerIdx + 1,
                        }) }}

                        {{ include('share-previews/template-editor/layers/' ~ layer.type, {
                            template,
                            layer,
                            layerIdx,
                            namePrefix: 'template[layers][' ~ layerIdx ~ ']'
                        }, with_context = false) }}
                    {% endfor %}

                    {{ include('share-previews/template-editor/_add-layers', {
                        layers: availableLayers,
                        position: 0,
                    }) }}
                </div>
            </div>
            <div class="bg-blue-gray-100 flex-grow">
                <div class="sticky">
                    <div class="relative" style="padding-top: 52.5%;">
                        <a class="absolute inset-0 block" href="{{ template.getUrl() }}" target="_blank">
                            <img class="max-w-full w-full h-auto" src="{{ template.getUrl() }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
