{% extends 'share-previews/template-editor/layers/_layer' %}
{% import '_includes/forms' as forms %}

{% block description %}
    {{ 'Use an asset layer to add an area where you can place an image. If you intend to use SVGs, make sure `inkscape` is installed on your server.'|t('share-previews')|md }}
{% endblock %}

{% block content %}
    {% apply tabs_section(tabId, 'Asset'|t('share-previews')) %}
        <div class="space-y-6">
            <div>
                {{ forms.field({
                    label: 'Default Asset'|t('share-previews'),
                    instructions: 'Select an **optional** default asset.'|t('share-previews'),
                }, forms.elementSelect({
                    elements: [layer.getAsset()]|filter,
                    name: namePrefix ~ '[assetId]',
                    elementType: 'craft\\elements\\Asset',
                    criteria: {'kind': 'image'},
                    limit: 1,
                })) }}
            </div>

            <div>
                {{ forms.field({
                    label: 'Replace default image by field'|t('share-previews'),
                    instructions: 'Select one of your entry\'s field which contain an image based asset.

Everytime your template is rendered, based on an entry, the image corresponding to the selected field will replace the above default image.

Choose *{noReplacementLabel}* when you always want to render the default image.
'|t('share-previews', {
                        'noReplacementLabel': layer.getAvailableAssetFieldsAsOptions(true)[0].label
                    }),
                }, forms.select({
                    name: namePrefix ~ '[fieldId]',
                    value: layer.fieldId,
                    options: layer.getAvailableAssetFieldsAsOptions(true),
                })) }}
            </div>

            <div>
                {{ forms.field({
                    label: 'Replace default image by a Twig expression'|t('share-previews'),
                    instructions: 'In case you want to resolve an asset using a Twig expression, look no further. Just make sure your expression **evaluates to a valid asset ID**.

**Important:** The expression takes precedence over the above field based replacement.

Everytime your template is rendered based on an entry, the `entry` variable will correspond to that entry.'|t('share-previews'),
                }, forms.text({
                    name: namePrefix ~ '[expression]',
                    placeholder: '{{ entry.image.one().id }}',
                    value: layer.expression,
                })) }}

                <div class="sp-markdown">
                    {{ '### Twig examples:

- `{{ entry.image.one().id }}` will return the asset ID corresponding to your `image` field.
- `{{ entry.image.one().id ?? entry.parent.image.one().id }}` access the parent\'s `image` field if the currently rendered entry does not have an image.

Explore more in [Craft\'s Entry API reference](https://docs.craftcms.com/api/v4/craft-elements-entry.html). You can access all public properties and all public methods.'|t('share-previews', {
                        'defaultTitle': 'Default title'|t('share-previews'),
                    })|md }}
                </div>
            </div>

            <div>
                {{ forms.field({
                    label: 'Image Fill Mode'|t('share-previews'),
                    instructions: 'The fill mode controls how the image is placed into the layer.
- *Contain*: The image will be scaled down to fit completely within the layer.
- *Cover*: The image will be scaled down to cover the layer. Parts of the image\'s edges may be trimmed.'|t('share-previews'),
                }, forms.select({
                    name: namePrefix ~ '[fillMode]',
                    value: layer.fillMode,
                    options: {
                        'contain': 'Contain: Make sure the image fits within the layer'|t('share-previews'),
                        'cover': 'Cover: The image covers the complete layer'|t('share-previews'),
                    },
                })) }}
            </div>
        </div>
    {% endapply %}

    {% apply tabs_section(tabId, 'Border'|t('share-previews')) %}
        <div class="grid grid-cols-2 gap-6">
            <div>
                {{ forms.field({
                    label: 'Border Color'|t('share-previews'),
                }, forms.color({
                    name: namePrefix ~ '[borderColor]',
                    value: layer.borderColor|rgb_to_hex,
                })) }}
            </div>
            <div>
                {{ forms.field({
                    label: 'Border Color Opacity'|t('share-previews'),
                }, forms.text({
                    name: namePrefix ~ '[borderColorOpacity]',
                    type: 'number',
                    min: 0,
                    max: 100,
                    unit: '%',
                    placeholder: 100,
                    value: layer.borderColor|rgba_to_opacity,
                })) }}
            </div>
            <div>
                {{ forms.field({
                    label: 'Border Width'|t('share-previews'),
                }, forms.text({
                    name: namePrefix ~ '[borderWidth]',
                    type: 'number',
                    min: 0,
                    max: 100,
                    unit: 'px',
                    value: layer.borderWidth,
                })) }}
            </div>
        </div>
    {% endapply %}

    {% include 'share-previews/template-editor/layers/_alignment' %}
    {% include 'share-previews/template-editor/layers/_padding' %}
{% endblock %}
