{% import "_includes/forms" as forms %}
{% set templates = settings.templates %}

<div class="share-preview-settings">
    <div class="text-red-500">
        settings!
    </div>

    <button id="btn-preview">
        Preview!
    </button>

    <a href="{{ url('share-previews/template-editor') }}">New Template</a>

    {% for templateIdx, template in templates %}
        <div class="flex items-start" data-template="{{ templateIdx }}">
            <div class="w-1/2 flex-none">
                {{ template.getHumanFriendlyName() }}
            </div>
            <div class="bg-blue-gray-100 flex-grow">
                <div class="sticky">
                    <div class="relative" style="padding-top: 52.5%;">
                        <a
                            class="absolute inset-0 block"
                            href="{{ url('share-previews/template-editor', {id: template.id}) }}"
                        >
                            <img class="max-w-full w-full h-auto" src="{{ template.toImage().getUrl() }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>