{% import "_includes/forms" as forms %}
{% set templates = settings.templates %}

<div class="share-preview-settings">
    <section>
        <div class="flex items-start">
            <div class="flex-1">
                <h2>
                    {{ 'Templates'|t('share-previews') }}
                </h2>

                <p class="m-0 text-gray-500">
                    {% if templates %}
                        {{ 'These are your templates. Click on one to open it in the template editor or [create a new one]({createNewUrl}).'|t('share-previews', {
                            'createNewUrl': urls.templateEditor(),
                        })|md(inlineOnly=true) }}
                    {% else %}
                        {{ 'Currently you have no templates stored. You should [create one]({createNewUrl})! It\'s quick & easy using the template editor.'|t('share-previews', {
                            'createNewUrl': urls.templateEditor(),
                        })|md(inlineOnly=true) }}
                    {% endif %}
                </p>
            </div>

            <div class="flex-none">
                <a class="btn" href="{{ urls.templateEditor() }}">
                    {{ 'Create new template ...'|t('share-previews') }}
                </a>
            </div>
        </div>

        {% if templates %}
            <ul class="mt-10 grid grid-cols-3 gap-8 text-center">
                {% for template in templates %}
                    <li>
                        <a
                            class="
                                block group
                                bg-blue-gray-200
                                border border-solid border-transparent
                                hover:border-blue-gray-400 hover:no-underline
                                rounded overflow-hidden
                                hover:text-blue-gray-500
                            "
                            href="{{ urls.templateEditor(template) }}"
                        >
                            <span
                                class="block relative bg-gray-100 overflow-hidden"
                                style="padding-top: {{ 100 / (template.width / template.height) }}%;"
                            >
                                <img
                                    class="
                                        block absolute inset-0 max-w-full w-full h-auto
                                        transform
                                        transition
                                        group-hover:scale-110
                                    "
                                    src="{{ template.toImage().getUrl() }}"
                                />
                            </span>

                            <span class="
                                block my-4
                                text-blue-gray-500 uppercase tracking-tight text-sm
                            ">
                                {{ template.getHumanFriendlyName() }}

                                {% if (template.isDefault) %}
                                    <span class="
                                        ml-3 px-1.5 py-0.5 bg-green-300
                                        border border-solid border-green-400
                                        normal-case text-green-700 text-xs
                                        rounded
                                    ">
                                        {{ 'Default'|t('share-previews') }}
                                    </span>
                                {% endif %}
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if templates %}
            <div class="
                sp-markdown
                mt-8 p-4 pl-6 bg-indigo-50 rounded
                text-blue-gray-500
                border-l-4 border-solid border-indigo-500
            ">
                {{ '### Want to select from your templates in your entries?

- **[Create a new field]({newFieldUrl})** with a field type of `{fieldType}` -- choose all the other values as you see them fit
- **Add the created field** to those **entry types** where you want to make a template selectable
- Next time you edit your entries **you\'ll be able to select** one of your templates'|t('share-previews', {
                    newFieldUrl: urls.createNewField(),
                    fieldType: templateSelectFieldName,
                })|trim_lines|md }}
            </div>
        {% endif %}
    </section>

    <hr>

    <section>
        <h2>
            {{ 'General settings'|t('share-previews') }}
        </h2>

        <div class="mt-10 space-y-14">
            <div>
                {{ forms.field({
                    label: 'Route Prefix'|t('share-previews'),
                    instructions: 'The route prefix is used to build the URL of each share preview.
Your current route prefix is **{routePrefix}**, your image URLs will look like this: {urlPreview}

**Keep in mind**: The route prefix is also the name of the folder where your images are cached.
If you change the prefix you might need to commit the generated .gitignore file.
Your images are currently cached in **web/{routePrefix}/**'|t('share-previews', {
                        routePrefix: settings.routePrefix,
                        urlPreview: settings.getPreviewUrl(),
                    }),
                    tip: 'You can flush the image cache using [Craft\'s Caches utility]({cachesUtilityUrl}).'|t('share-previews', {
                        'cachesUtilityUrl': urls.cachesUtility(),
                    }),
                }, forms.text({
                    name: 'routePrefix',
                    placeholder: 'previews',
                    value: settings.routePrefix,
                })) }}
            </div>
            <div>
                {{ forms.field({
                    label: 'Location of Custom Fonts'|t('share-previews'),
                instructions: 'Add your custom fonts by setting the path to the directory where you keep them. All found fonts will be selectable in the template editor.
Supported formats depend on how your PHP runtime was compiled. Usually `.ttf`, `.otf`, `.woff2` & `.woff` are supported.
If your font is not working, consider transforming it to `.ttf` format.

**Relative path required:** Use a path which is relative to your project root -- current project root is: {path}
E.g.: If your fonts are located in `{path}/config/fonts` use the value `config/fonts`

**Important notice:** In order to reduce file & directory scans, please be as specific as possible with your path.'|t('share-previews', {
                        'path': alias('@root'),
                    }),
                    tip: 'Only directories with no more than 1,000 files will be scanned.'|t('share-previews', {
                        'path': alias('@root'),
                    }),
                    errors: settings.getErrors('customFontsPath'),
                }, forms.text({
                    prepend: 'foo',
                    name: 'customFontsPath',
                    placeholder: '',
                    value: settings.customFontsPath,
                })) }}

                {% if (settings.validate() and settings.customFontsPath) %}
                    <div class="sp-markdown">
                        {{ '{numberOfScannedFiles} scans required to find **{numberOfFonts}** custom fonts in path: `{path}`.'|t('share-previews', {
                            numberOfScannedFiles: customFontsNumberOfScannedFiles,
                            numberOfFonts: customFonts|length,
                            path: customFontsFullPath,
                        })|md }}

                        {% if customFonts %}
                            <ul>
                                {% for font in customFonts %}
                                    <li>
                                        {{ font.family }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div>
                {{ forms.field({
                    label: 'Show Set-Up Navigation Item in CP'|t('share-previews'),
                    instructions: 'Do you want to add the Set-Up Wizard navigation item to the CP?
The item is usually displayed on a fresh plugin install. Once you finish the wizard, the navigation item is hidden.'|t('share-previews'),
                }, forms.lightswitch({
                    name: 'showSetUpNavigationItemInCp',
                    value: true,
                    on: settings.showSetUpNavigationItemInCp
                })) }}
            </div>
        </div>
    </section>
</div>