{% extends 'share-previews/settings/_layer' %}
{% import '_includes/forms' as forms %}

{% block description %}
    {{ 'Use an image layer to add an area where an image will be placed.'|t('share-previews') }}
{% endblock %}

{% block fields %}
    <div class="grid grid-cols-2 gap-6">
        <div>
            {{ forms.field({
                label: 'Image Fill Mode'|t('share-previews'),
            }, forms.select({
                name: namePrefix ~ '[fillMode]',
                options: {
                    'contain': 'Contain: Make sure the image fits within the area'|t('share-previews'),
                    'cover': 'Cover: The image covers the complete area'|t('share-previews'),
                },
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Border Width'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[borderWidth]',
                type: 'number',
                min: 0,
                max: 100,
                unit: 'px'
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Border Color'|t('share-previews'),
            }, forms.color({
                name: namePrefix ~ '[borderColor]',
                value: '#fff',
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Border Color Opacity'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[borderColorOpacity]',
                type: 'number',
                min: 0,
                max: 100,
                unit: '%',
                placeholder: 100,
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Horizontal Alignment'|t('share-previews'),
            }, forms.select({
                name: namePrefix ~ '[horizontalAlign]',
                options: {
                    'left': 'Left'|t('share-previews'),
                    'center': 'Center'|t('share-previews'),
                    'right': 'Right'|t('share-previews'),
                },
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Vertical Alignment'|t('share-previews'),
            }, forms.select({
                name: namePrefix ~ '[verticalAlign]',
                options: {
                    'top': 'Top'|t('share-previews'),
                    'middle': 'Middle'|t('share-previews'),
                    'bottom': 'Bottom'|t('share-previews'),
                },
            })) }}
        </div>
    </div>
{% endblock %}