{% extends 'share-previews/settings/_layer' %}
{% import '_includes/forms' as forms %}

{% block description %}
    {{ 'Use a gradient layer to add a gradient area to your image.'|t('share-previews') }}
{% endblock %}

{% block fields %}
    <div class="grid grid-cols-2 gap-6">
        <div>
            {{ forms.field({
                label: 'Starting Color'|t('share-previews'),
            }, forms.color({
                name: namePrefix ~ '[from]',
                value: '#fff',
            })) }}
        </div>

        <div>
            {{ forms.field({
                label: 'Starting Color Opacity'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[fromOpacity]',
                type: 'number',
                min: 0,
                max: 100,
                unit: '%',
                placeholder: 100,
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Ending Color'|t('share-previews'),
            }, forms.color({
                name: namePrefix ~ '[to]',
                value: '#000',
            })) }}
        </div>

        <div>
            {{ forms.field({
                label: 'Ending Color Opacity'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[toOpacity]',
                type: 'number',
                min: 0,
                max: 100,
                unit: '%',
                placeholder: 100,
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Angle'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[angle]',
                type: 'number',
                min: -359,
                max: 359,
                unit: 'degrees'|t('share-previews')
            })) }}
        </div>
    </div>
{% endblock %}