{% extends 'share-previews/settings/_layer' %}
{% import '_includes/forms' as forms %}

{% set padding = false %}

{% block description %}
    {{ 'Use a line layer to add a single line to your image.'|t('share-previews') }}
{% endblock %}

{% block fields %}
    <div class='grid grid-cols-2 gap-6'>
        <div>
            {{ forms.field({
                label: 'Color'|t('share-previews'),
            }, forms.color({
                name: namePrefix ~ '[color]',
                value: '#fff',
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Color Opacity'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[colorOpacity]',
                type: 'number',
                min: 0,
                max: 100,
                unit: '%',
                placeholder: 100,
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Start from Left'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[from][0]',
                type: 'number',
                min: 0,
                max: 1200,
                unit: 'px'
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'Start from Top'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[from][1]',
                type: 'number',
                min: 0,
                max: 630,
                unit: 'px'
            })) }}
        </div>

        <div>
            {{ forms.field({
                label: 'End from Left'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[to][0]',
                type: 'number',
                min: 0,
                max: 1200,
                unit: 'px'
            })) }}
        </div>
        <div>
            {{ forms.field({
                label: 'End from Top'|t('share-previews'),
            }, forms.text({
                name: namePrefix ~ '[to][1]',
                type: 'number',
                min: 0,
                max: 630,
                unit: 'px'
            })) }}
        </div>
    </div>
{% endblock %}